.box {
  width: 100px;
  height: 100px;
  background: #000;
}

.container {
  position: relative;
  left: 50%;
}

.box:nth-child(1) {
  background-color: rgba(255, 95, 71, 0.674);
  position: absolute;
}

.box:nth-child(2) {
  background-color: lightblue;
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 1;
}

.box:nth-child(3) {
  background-color: rgb(144, 238, 186);
  top: 100px;
  left: 100px;
  position: absolute;
}
